.cards {
    display: flex;              /* Usa flexbox */
    flex-wrap: wrap;           /* Permetti il wrap per le cards */
    gap: 24px;                 /* Spaziatura tra le cards */
    justify-content: center;    /* Centra le cards orizzontalmente */
}

.card {
    flex: 1 0 400px;           /* Non far crescere o restringere le cards, larghezza fissa di 200px */
    max-width: 600px;          /* Limita la larghezza massima delle cards */
    min-height: 100px;          /* Limita la larghezza massima delle cards */
    background: var(--bg-1);   /* Sfondo */
    border: 2px solid var(--border-color); /* Bordo */
    border-radius: 10px;       /* Angoli arrotondati */
    overflow: hidden;          /* Nasconde il contenuto in eccesso */
}

.card-info {
    padding: 0 24px 24px 24px;
}

.card-title {
    // white-space: nowrap;
    font-size: 1.5rem;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1em 0;
}

.card-tag {
    display: inline-block;
    padding: 0.1em 0.8em;
    margin-right: 0.4em;
    border-radius: 4em;
    color: var(--card-tags);
    font-size: 0.8rem;
    text-align: center;
    white-space: nowrap;
}

.card-title {
    margin-top: 0.7em;
}

.card-image {
    border: unset;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image-container {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 21 / 9;
}

.card-image-links {
    width: 100%;
    height:30rem;
}

.card-image-placeholder {
    height: 12px;
    width: 100%;
}

.card-description {
    margin-top: 0.5em;
    overflow: hidden;
}