footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  font-size: 0.9rem;
  background-color: var(--bg-3);
}

@media (max-width: 768px) {
  footer {
    font-size: 0.8rem;
  }
}