#text {
    width: 40%;
    padding-right: 100px;
}

#home {
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 768px) {
    #text {
        width: auto;
        padding-right: 0px;
    }
    
    #home {
        display: contents;
        flex-wrap: nowrap;
    }
}