.gallery {
    display: flex;              /* Usa flexbox */
    flex-wrap: wrap;           /* Permetti il wrap per le cards */
    gap: 5px;                 /* Spaziatura tra le cards */
    justify-content: center;    /* Centra le cards orizzontalmente */

}

.gallery-gif,
.gallery-image,
.gallery-video {
    flex-grow: 1;
    border-color: transparent;
    border-radius: 5px;
    margin: 0.2rem;
    flex: 1 0 1000px;           /* Non far crescere o restringere le cards, larghezza fissa di 200px */
    max-width: 500px;          /* Limita la larghezza massima delle cards */
    max-height: 600px;          /* Limita la larghezza massima delle cards */
}

.solo-image {
    flex-grow: 1;
    border-color: transparent;
    border-radius: 5px;
    margin: 0.2rem;
}

.gallery-video {
    aspect-ratio: 16 / 9;
}

.text-button {
    display: inline-block;       /* Assicura che il link venga trattato come un blocco */
    border: 3px solid;           /* Spessore del bordo */
    border-color: var(--primary-color); /* Colore del bordo */
    border-radius: 10px;         /* Arrotonda i bordi */
    padding: 0.6rem 2rem;        /* Spaziatura interna */
    width: 25vw;
    height: 6vh;
    align-content: center;
    text-align: center;          /* Centra il testo */
    text-decoration: none;       /* Rimuove la sottolineatura */
    color: var(--primary-color); /* Colore del testo */
    background-color: transparent; /* Sfondo trasparente */
    transition: background-color 0.3s ease, color 0.3s ease; /* Aggiunge animazioni */
}

.text-button:hover {
    background-color: var(--primary-color); /* Colore di sfondo al passaggio del mouse */
    color: var(--hover-color); /* Colore del testo invertito */
}

.button-container {
    display: flex;               /* Usa Flexbox */
    flex-wrap: wrap;             /* Permette il wrapping su più righe */
    justify-content: space-evenly;     /* Centra i bottoni orizzontalmente */
    align-items: center;         /* Centra verticalmente */
    gap: 16px;                   /* Spaziatura uniforme tra i bottoni */
    margin: 1.2em 0;             /* Margine verticale */
}

