$page-bg: #01010B;

// Dark theme needs a bigger contrast compared to the white theme.
$card-bg: #0e1123;
$border-bg: #050617;
$footer-bg: #050617;

$text: #f8eed3;
$hover: #01010B;

$primary-color: #EF9A03;
$accent-color: #e3a049;

:root.dark {
  --text-0: #{$text};
  --text-1: #{$text};
  --primary-color: #{$primary-color};
  --secondary-color: #{$accent-color};

  --card-tags-bg-1: #{$footer-bg};
  --card-tags-bg-2: #{$card-bg};
  --card-tags: #{$text};

  --bg-0: #{$page-bg};
  --bg-1: #{$card-bg};
  --bg-2: #{$border-bg};
  --bg-3: #{$footer-bg};
  --border-color: var(--bg-2);
  --hover-color: #{$hover};

  .social-icon {
    filter: invert(1);
  }
}